.container {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 90%;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif; /* Fonte não serifada */
}

.dropdownButton {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif; /* Fonte não serifada */
}

.dropdown {
  position: absolute;
  top: 100%; /* Coloca o dropdown abaixo do botão */
  left: 50%; /* Alinha o dropdown ao centro */
  transform: translateX(-50%); /* Ajusta para garantir que ele fique perfeitamente centralizado */
  width: 90%; /* Define a largura do dropdown para ser a mesma do botão */
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
  max-height: 100px; /* Adiciona limite de altura */
  overflow-y: auto; /* Habilita barra de rolagem se necessário */
  scrollbar-color: #ccc #f9f9f9; /* Opcional: personaliza a aparência */
  font-family: Arial, Helvetica, sans-serif; /* Fonte não serifada */
}

.dropdownItem {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: black;
  font-size: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; /* Fonte não serifada */
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.dropdownButton::placeholder {
  font-size: 11px; /* Tamanho do placeholder ajustado */
  color: black; /* Cor do placeholder ajustada para ser mais discreta */
  font-family: Arial, Helvetica, sans-serif; /* Fonte não serifada */
}

/* Media Queries */

/* Mobile */
@media (max-width: 600px) {
  .dropdownButton {
    font-size: 11px; /* Ajusta a fonte para mobile */
    padding: 8px; /* Aumenta o padding para facilitar o clique */
  }

  .dropdown {
    width: 90%; /* A largura do dropdown ocupa 90% */
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  
  .dropdownButton {
    width: 90%;
    padding: 8px;
    font-size: 12px;
  }
  
  .dropdown {
    width: 90%;
  }
  
  .dropdownItem {
    font-size: 12px;
  }
}

/* Large (1024px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 90%; /* Reduz a largura do container */
  }
  
  .dropdownButton {
    width: 90%;
    padding: 10px; /* Aumenta o padding */
    font-size: 14px;
  }

  .dropdown {
    width: 90%; /* Ajusta a largura do dropdown */
    max-height: 200px; /* Aumenta a altura máxima */
  }

  .dropdownItem {
    font-size: 14px;
  }

  .dropdownButton::placeholder {
    font-size: 13px; /* Ajusta o tamanho do placeholder */
  }
}

/* 2Large (1280px e acima) */
@media (min-width: 1281px) {
  .container {
    width: 100%; /* Reduz ainda mais a largura do container */
  }

  .dropdownButton {
    width: 90%;
    padding: 12px; /* Mais padding */
    font-size: 16px;
  }

  .dropdown {
    width: 90%;
    max-height: 250px; /* Aumenta a altura máxima do dropdown */
  }

  .dropdownItem {
    font-size: 16px;
  }

  .dropdownButton::placeholder {
    font-size: 15px; /* Aumenta o tamanho do placeholder */
  }
}
