/* styles/Analise.module.css */

.main{
  display: flex;
  flex-direction: column;  
  width: 100%;
}

.superior{
  margin-top: 10px;
  display: flex;
  height: 50vh;
  /* background-color: aqua; */
  justify-content: space-around;
}
  
.inferior{
  display: flex;
  height: 45vh;
  /* background-color: red; */
  justify-content: center;
}