.tableContainer {
  margin: 10px;
  flex: 1; /* Faz a tabela ocupar todo o espaço disponível */
  overflow-y: auto; /* Ativa o scroll vertical */
  overflow-x: auto; /* Ativa o scroll horizontal */
  border: 1px solid #ddd; /* Borda ao redor da tabela */
  background-color: white;
  height: 80vh;
}

.table {
  width: 100%;
  border-collapse: collapse; /* Remove os espaços entre bordas */
}

.table th,
.table td {
  border: 1px solid #ddd;
  /* padding: 8px; */
  text-align: center;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
